body {
    background-image: linear-gradient(90deg, rgba(0, 0, 36, 1) 0%, rgba(176, 207, 213, 0.48783263305322133) 0%, rgba(207, 211, 223, 0.15449929971988796) 100%);
}

option {
    color: grey;
}

select {
    color: grey;
    width: 170px;
}

.text {
    border: 1px solid white;
    border-radius: 5px;
    width: 700px;
    height: 50px;
}

#labelrate {
    font-weight: bold;
}

.textcheckbox {
    font-weight: 500;
}

.container1 {
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Hide the browser's default checkbox */

.container1 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}


/* On mouse-over, add a grey background color */

.container1:hover input~.checkmark {
    background-color: #ccc;
}


/* When the checkbox is checked, add a blue background */

.container1 input:checked~.checkmark {
    background-color: black;
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.container1 input:checked~.checkmark:after {
    display: block;
}


/* Style the checkmark/indicator */

.container1 .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

form {
    padding-left: 9%;
    padding-bottom: 20px;
}

hr {
    width: 700px;
}